<div class="bg-gray-900">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-between p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt=""
          />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
        >
          <span class="sr-only">open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-white">home</a>
        <a href="#" class="text-sm font-semibold leading-6 text-white">beats</a>
        <a href="/about" class="text-sm font-semibold leading-6 text-white"
          >about</a
        >
      </div>
    </nav>
  </header>

  <main class="relative isolate">
    <!-- Background -->
    <div
      class="absolute inset-x-0 top-4 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25"
        style="
          clip-path: polygon(
            73.6% 51.7%,
            91.7% 11.8%,
            100% 46.4%,
            97.4% 82.2%,
            92.5% 84.9%,
            75.7% 64%,
            55.3% 47.5%,
            46.5% 49.4%,
            45% 62.9%,
            50.3% 87.2%,
            21.3% 64.1%,
            0.1% 100%,
            5.4% 51.1%,
            21.4% 63.9%,
            58.9% 0.2%,
            73.6% 51.7%
          );
        "
      ></div>
    </div>

    <!-- Header section -->
    <div class="px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl pt-24 text-center sm:pt-40">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
          explore my beats
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          find the the heart of your next hit! dive into a world of unparalleled
          beats crafted with passion and precision by our local music maestro.
          every track is a testament to the artistry within you
        </p>
      </div>
    </div>

    <!-- Content section -->
    <div
      class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Products</h2>

      <div
        class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8"
      >
        <div
          class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white"
        >
          <div
            class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg"
              alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
              class="h-full w-full object-cover object-center sm:h-full sm:w-full"
            />
          </div>
          <div class="flex flex-1 flex-col space-y-2 p-4">
            <h3 class="text-sm font-medium text-gray-900">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee 8-Pack
              </a>
            </h3>
            <p class="text-sm text-gray-500">
              Get the full lineup of our Basic Tees. Have a fresh shirt all
              week, and an extra for laundry day.
            </p>
            <div class="flex flex-1 flex-col justify-end">
              <p class="text-sm italic text-gray-500">8 colors</p>
              <p class="text-base font-medium text-gray-900">$256</p>
            </div>
          </div>
        </div>
        <div
          class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white"
        >
          <div
            class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none group-hover:opacity-75 sm:h-96"
          >
            <img
              src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-02.jpg"
              alt="Front of plain black t-shirt."
              class="h-full w-full object-cover object-center sm:h-full sm:w-full"
            />
          </div>
          <div class="flex flex-1 flex-col space-y-2 p-4">
            <h3 class="text-sm font-medium text-gray-900">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="text-sm text-gray-500">
              Look like a visionary CEO and wear the same black t-shirt every
              day.
            </p>
            <div class="flex flex-1 flex-col justify-end">
              <p class="text-sm italic text-gray-500">Black</p>
              <p class="text-base font-medium text-gray-900">$32</p>
            </div>
          </div>
        </div>

        <!-- More products... -->
      </div>
    </div>

    <!-- Image section -->
  </main>
</div>
